<html>

  <head>
    <meta charset="utf-8">
    <style>
      body {
        margin: 0; padding:10px; font-family: sans-serif;
      }
      .entries {
        list-style: none; margin: 0; padding: 0;
      }
      .entries li {
        padding: 0; border-bottom: 1px solid #ccc;
      }

      h1 { margin: 0 0 0.5em; padding: 0;}

      nav {
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 5px 0;
      }

    </style>
  </head>
  <!--
    To run this example, as it needs ajax to load and this does not normally work from files,
    it needs to run in a webserver.

  -->
  <body>
    <header class="header">
      <h1><%= title %> Hilfeaufruf</h1>
      <p>Im folgenden findest Du alle Bilder von <%= title %> für die keine Position ermittelt werden konnte. Wenn Du eine genaue Addresse zu einem der Bilder kennst oder rausfinden kannst, kannst Du das Formular unter dem Bild benutzen, um eine Email mit den Daten an die Betreiber zu schicken. Dadurch kannst Du mithelfen, die Datenqualität der Bildersammlung zu verbessern und die <a href="index.html">Kartenansicht</a> zu vervollständigen. Danke!</p>

      <nav>
        <a href="index.html">Karte</a>
        | <a href="stats.html">Statistiken</a>
        | <a href="/index.html">Infos</a>
    </header>

    <ul data-uncoded-url="uncoded.json" class="entries">

    </ul>



  <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript" src="../js/uncoded.js"></script>

  <script type="text/x-template" id="uncoded-entry">
    <li id="entry_{{ id }}" class="entry">
      <h2>
        <a target="_blank" title="Öffnet Photo-Seite" href="{{ entry_url }}">{{ title }}</a>
      </h2>
      <p><em>{{ tags }}</em></p>
      <div><a title="Öffnet Bild in O-Größe" target="_blank" href="{{ original_url }}"><img src="{{ photo_url }}" /></a></div>
      <form enctype="text/plain" method="post" action="mailto:<%= email %>?subject=Ich weiss wo&amp;body=Wat">
      <input type="hidden" name="photo_id" value="{{id}}">
      <p><textarea id="address" cols="80" rows="2" name="address" placeholder="Musterstraße 17, Hamburg"></textarea></p>
      <p><input type="submit" value="Ich weiss es!"></p>
      </form>
    </li>
  </script>

  </body>

</html>