<html>
  <head>
    <title><%= title %></title>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
    <style>body {margin: 0; padding:0;} h1 { margin: 0; padding: 0; font-family: sans-serif; line-height: 0.7em; z-index: 10}</style>
  </head>
  <!--
    To run this example, as it needs ajax to load and this does not normally work from files,
    it needs to run in a webserver.

  -->
  <body>
    <div data-geojson="map.geojson" id="map" style="height: 100%" data-mapbox-id="<%= mapbox_id %>"></div>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
    <script src="../js/geojson.js"></script>
  </body>
</html>