<html>
  <head>
    <title><%= title %></title>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <style>
    body {margin: 0; padding:0;} h1 { margin: 0; padding: 0; font-family: sans-serif; line-height: 0.7em; z-index: 10}
    #floater {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      z-index: 100;
      font-family: sans-serif;
      background: rgba(255,255,255,0.6);
    }
    </style>
  </head>
  <!--
    To run this example, as it needs ajax to load and this does not normally work from files,
    it needs to run in a webserver.

  -->
  <body>
    <div id="floater">
      <a href="stats.html">Statistiken</a>
      | <a href="help_us.html">Mithelfen!</a>
      | <a href="/index.html">Infos</a>
    </div>

    <div data-geojson="map.geojson" id="map" style="height: 100%" data-mapbox-id="<%= mapbox_id %>" data-mapbox-access-token="<%= mapbox_api_token %>"></div>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
    <script src="../js/geojson.js"></script>


  </body>
</html>