<html>

  <head>
    <meta charset="utf-8">
    <style>
      body {
        margin: 0; padding:10px; font-family: sans-serif;
      }
      .entries {
        list-style: none; margin: 0; padding: 0;
      }
      .entries li {
        padding: 0; border-bottom: 1px solid #ccc;
      }

      h1 { margin: 0 0 0.5em; padding: 0;}
    </style>
  </head>
  <!--
    To run this example, as it needs ajax to load and this does not normally work from files,
    it needs to run in a webserver.

  -->
  <body>
    <header class="header">
      <h1><%= title %> Geocoding Tool</h1>
      <form action="uncoded.html" method="get" id="filterform">
        Filter:
        <label>
          <input id="filter_all" type="radio" class="filterbutton" name="filter" value="all">
          Alle
        </label>
        <label>
          <input id="filter_untagged" type="radio" class="filterbutton" name="filter" value="untagged">
          Noch nicht bearbeitet
        </label>
        <label>
          <input id="filter_nogps" type="radio" class="filterbutton" name="filter" value="nogps">
          Hoffnungslos
        </label>
      </form>
      <p>
        <span id="uncoded-count"></span>
        ohne Gecode, davon
        <span id="selected-count"></span>
        ausgewählt.
      </p>
    </header>
    <ul data-uncoded-url="uncoded.json" class="entries">

    </ul>



  <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript" src="../js/uncoded.js"></script>

  <script type="text/x-template" id="uncoded-entry">
    <li id="entry_{{ id }}" class="entry">
      <h2>
        <a target="_blank" title="Öffnet Photo-Seite" href="{{ entry_url }}"><%= title %></a>
        <a title="Öffnet Geocoder im Organizer" target="_blank" href="https://www.flickr.com/photos/organize/?batch_geotag=1&ids={{ id }}&from_geo_ids={{ id }}">[Geocode in Organizer]</a>
      </h2>
      <p><em>{{ tags }}</em></p>
      <div><a title="Öffnet Bild in O-Größe" target="_blank" href="{{ original_url }}"><img src="{{ photo_url }}" /></a></div>
    </li>
  </script>

  </body>

</html>